---
import Layout from '../templates/construction/Layout.astro';
---
<Layout>
  <h1>Demo Bygg AS</h1>
  <p>Welcome to the website of Demo Bygg AS.</p>
  <p>This is a dummy page for organization number 000000000.</p>
</Layout>
